.login{
  border: 1px solid black;
  width: 400px;
  height: 500px;
  background: url(hi.jpeg);
  color: antiquewhite;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
}
form{
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(70%);
  flex-direction: column;
  display: flex;
  gap: spx;
}
h2{
  font-size: 40px;
  font-weight: normal;
  text-shadow: 0px 0px 2px rgba(0,0,0,0,5);
  margin-bottom: 50px;
}
label{
  color: rgba(226,265,225);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding-left: 8px;
  
}
input{
  background: rgba(225, 225, 225,0.7);
  height: 40px;
  border-radius: 40px;
  line-height: 40px;
  padding: 0px 20px;
  border: none;
  margin-bottom: 20px;
  color: whitesmoke;
}
button{
  background: cadetblue;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
margin: 10px 0px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
color: whitesmoke;
font-size: 12px;
}
body {
  background-color: blanchedalmond;
}
h1{
